%h4.page-title Editorial

%h5 Draft records for review
= render(:partial => 'technologies/table',:locals => {:technology_list => Technology.draft})

%br
%br

%h5 Rejected records
= render(:partial => 'technologies/table',:locals => {:technology_list => Technology.rejected})



