%h4.page-title Audit


%table{:class=>"table table-condensed table-striped sorted-table"}
  %thead
    %tr
      %th Timestamp
      %th Type
      %th Name
      %th User
      %th Change Event
      %th.unsorted-column Change(s))
  %tbody
    -@audits.each do |audit|
      %tr
        %td.no-wrap
          =audit.created_at.strftime('%Y-%m-%d %H:%M')
        %td.no-wrap
          = audit.auditable_type
        %td.no-wrap
          - audited_thing = eval(audit.auditable_type).find(audit.auditable_id) rescue nil
          - if audited_thing != nil
            - if audited_thing.class.name != 'Relationship'
              = audited_thing.name
          - else
            &nbsp;
        %td
          - if audit.user_id
            -# = User.find(audit.user_id).email
            = link_to audit.user_id, User.find(audit.user_id)
          - else
            unknown
        %td= audit.action
        %td.expand-to-fit-available-space
          -if audit.action == 'update'
            -audit.audited_changes.each_pair do |k,v|
              %b=k
              %br
              &nbsp;&nbsp;(before):
              =v[0]
              %br
              &nbsp;&nbsp;(after):
              =v[1]
          -else
            &nbsp;