%h4.page-title Tags

%table{:class=>"table table-condensed table-striped sorted-table"}
  %thead
    %tr
      %th Tag
      %th Technologies with this tag

  %tbody
    - @tags.each do |tag|
      %tr
        %td.no-wrap= link_to tag.name, tag_path(tag)
        %td.number= tag.taggings_count
