%div{:class => "text-right"}
  =link_to "Download JSON", url_for_downloadable_data_from_facets(params["search"],:json), :class => "btn btn-secondary btn-xs"
  =link_to "Download CSV", url_for_downloadable_data_from_facets(params["search"],:csv), :class => "btn btn-secondary btn-xs"