%h1 Home#index
%p Find me in app/views/home/index.html.haml

%div{:class=>"alert alert-primary", :role=>"alert"}
  This is a primary alert—check it out!

%table{:class=>"table table-condensed table-striped sorted-table"}
  %thead
    %tr
      %th Name
      %th Description
      %th.actions Actions
  %tbody
    %tr
      %td
        something
      %td
        something else
      %td.actions
        some actions