%h4.page-title Home

= link_to "Change your password", edit_user_registration_path, :class => 'btn btn-info btn-xs'

= link_to 'Graph', home_graph_path


-# = link_to "Register", new_user_registration_path, :class => 'btn btn-info btn-xs'