=link_to "Download data in JSON format", "#{request.path}.json", :class => "btn btn-secondary btn-xs"
=link_to "Download data in CSV format", "#{request.path}.csv", :class => "btn btn-secondary btn-xs"