%div#footer
  %p
    SComCat system v
    Developed by
    %a{href: "http://www.antleaf.com"} Antleaf
    for
    %a{href: "https://www.coar-repositories.org"} COAR
    as part of the
    %a{href: "https://educopia.org/next-generation-library-publishing/"} Next Generation Libraries Project.

    This website is licensed under a
    %a{rel:"license", href: "https://creativecommons.org/licenses/by/4.0/"} Creative Commons Attribution 4.0 License

-# - if Rails.env != 'production'
  -# =debug(params.to_s)