%div.row.site-header-row
  %div.col-sm-10
    %div.site-header
      %a.site-header{:href=>"/"} SComCat
    %div.site-sub-header
      Scholarly Communications Technolgy Catalogue
  %div{:class=>"col-sm-2",:id=>"header-login-col"}
    - if user_signed_in?
      ="User: #{current_user.email}"
      = link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'btn btn-info btn-xs'
    - else
      = link_to "Log in", new_user_session_path, :class => 'btn btn-info btn-xs'

%div.row
  %div.col
    =render '_shared/alerts'
    %div{:id=>"navbar-scomcat"}
      %nav{:id=>"top-nav-bar", :class=>"navbar navbar-expand-sm navbar-light navbar-scomcat"}
        %button{:class=>"navbar-toggler", :type=>"button", :"data-toggle"=>"collapse", :"data-target"=>"#navbarSupportedContent", :"aria-controls"=>"navbarSupportedContent", :"aria-expanded"=>"false", :"aria-label"=>"Toggle navigation"}
          %span{:class=>"navbar-toggler-icon"}
        %div{:class=>"collapse navbar-collapse", :id=>"navbarSupportedContent"}
          %ul{:class=>"nav mr-auto"}
            -if controller.controller_name == "home"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Home", root_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Home", root_path, :class => "nav-link"
            -if controller.controller_name == "technologies"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Technologies", technologies_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Technologies", technologies_path, :class => "nav-link"
            -if controller.controller_name == "adoption_levels"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Adoption Levels", adoption_levels_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Adoption Levels", adoption_levels_path, :class => "nav-link"
            -if controller.controller_name == "functions"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Functions", functions_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Functions", functions_path, :class => "nav-link"
            -if controller.controller_name == "categories"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Categories", categories_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Categories", categories_path, :class => "nav-link"
            -if controller.controller_name == "governance"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Governance", governances_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Governance", governances_path, :class => "nav-link"
            -if controller.controller_name == "readiness_levels"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Readiness", readiness_levels_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Readiness", readiness_levels_path, :class => "nav-link"
            - if policy(Relationship).index?
              -if controller.controller_name == "relationships"
                %li{:class=>"nav-item nav-item-selected"}
                  =link_to "Relationships", relationships_path, :class => "nav-link"
              -else
                %li{:class=>"nav-item"}
                  =link_to "Relationships", relationships_path, :class => "nav-link"
            -if controller.controller_name == "tags"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Tags", tags_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Tags", tags_path, :class => "nav-link"
            - if policy(AdminController).index?
              -if controller.controller_name == "admin"
                %li{:class=>"nav-item nav-item-selected"}
                  =link_to "Admin", admin_path, :class => "nav-link"
              -else
                %li{:class=>"nav-item"}
                  =link_to "Admin", admin_path, :class => "nav-link"

            -#%li{:class=>"nav-item dropdown"}
            -#  %a{:class=>"nav-link dropdown-toggle", :id=>"navbarDropdown", :role=>"button", :"data-toggle"=>"dropdown", :"aria-haspopup"=>"true", :"aria-expanded"=>"false"}Classifications
            -#  %div{:class=>"dropdown-menu", :"aria-labelledby"=>"navbarDropdown"}
            -#    =link_to "Entity Types", entity_types_path, :class => "dropdown-item"
            -#    =link_to "Technology Readiness", technology_readinesses_path, :class => "dropdown-item"
            -#    =link_to "Community Lifecycle Stage", community_lifecycle_stages_path, :class => "dropdown-item"
            -#    =link_to "Related Resource Type", related_resource_types_path, :class => "dropdown-item"
            -#    =link_to "Community Type", community_types_path, :class => "dropdown-item"
            -#    =link_to "Adoption Levels", adoption_levels_path, :class => "dropdown-item"