%div#footer
  %p
    Designed by
    %a{href: "http://www.antleaf.com"} Antleaf
    for
    %a{href: "https://www.coar-repositories.org"} COAR
    as part of the Next Generation Libraries Project.

    This website is licensed under a
    %a{rel:"license", href: "https://creativecommons.org/licenses/by/4.0/"} Creative Commons Attribution 4.0 License
