%h4.page-title About SComCat


%div.row
  %div.col-sm-9
    %h5
      The catalogue
    %p
      This catalogue has been developed by
      %a{href: "http://www.antleaf.com"} Antleaf
      for the
      %a{href: "https://www.coar-repositories.org"} Confederation of Open Access Repositories (COAR)
      as part of the
      %a{href: "https://educopia.org/next-generation-library-publishing/"} Next Generation Libraries Publishing project
      and is licensed under a
      %a{rel:"license", href: "https://creativecommons.org/licenses/by/4.0/"} Creative Commons Attribution 4.0 License

    %p
      SComCat comprises a catalogue (knowledge base) of scholarly communication open technologies where the term "technologies" is defined to include software and some essential running services. The aim is to assist potential users in making decisions about which technologies they will adopt by providing an overview of the functionality, organizational models, dependencies, use of standards, and levels of adoption of each technology.
    %p
      The scan includes tools, platforms, and standards that can be locally adopted to support one or more of functions of the lifecycle of scholarly communication, which is conceptualized as including the following activities: creation, evaluation, publication, dissemination, preservation, and reuse.
    %p
      We envision this scan as being extensible over time in order to address the evolving needs of various communities.
    %p
      SComCat is built as <a href="https://github.com/antleaf/scomcat">open-source software</a>, licensed under an MIT License.
    %p
      =link_to image_tag("Educopia_NextGen_PartnerLogoBanner_half_size.png", :id => "nglp-logo-banner"), "https://educopia.org/next-generation-library-publishing/"
    %p
      =link_to image_tag("antleaf_small_logo.png"), "https://www.antleaf.com"

  %div.col-sm-3
    %h5
      Acknowledgements
    %p
      The development of this catalogue was funded by&nbsp;
      %a{href: "https://www.arcadiafund.org.uk"}> Arcadia
      , a charitable fund of Lisbet Rausing and Peter Baldwin.
    %p
      This catalogue was originally populated with data from the
      %i
        %a{href:"https://mindthegap.pubpub.org"}Mind The Gap
      report, used with the permission of the authors. We are grateful for their support in this project.
      The information in this catalogue has been revised over time.
    %h6
      System Design &amp; Development
    %ul
      %li Paul Walk, Antleaf
    %h6
      Data Modelling &amp; Collection
    %ul
      %li Ilkay Holt, COAR
      %li Sarah Lippincott, Born-Digital


-#%h5 Experimental features
-#%ul
-#  %li= link_to 'Dependency graph visualiser', about_graph_path
