// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html {
  background-color: white;
  max-width: 2000px;
  margin: 0 auto;
  padding: 1%;
}

body {
  background-color: white;
  color: #555555;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
}

a,a:visited,a:hover {
  color: #23527c;
}

a,a:visited {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a.title-link {
  text-decoration: none;
}

a.title-link:hover {
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  margin-left: 20px;
  padding-left: 10px;
  margin-right: 20px;
  border-left: 3px solid #cdcdcd;
}

.page-title {
  text-align: center;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 3px;
  color: #555555;
  //background-color: #5bc0de;
  //background-color: #0275d8;
  background-color: #eeeeee;
}
